@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Home */
@import "./home/introducao.css";

/* Quem Somos */
@import "./quemSomos/intro.css";

/* Ideologia */
.ideologia {
  margin-top: 145px;
}
.ideologia .titulo {
  margin-bottom: 25px;
}
.ideologia .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ideoCarrosel {
  background: #100953;
  position: relative;
  z-index: 3;
}
.ideoCarrosel:after {
  content: "";
  background: url("../img/assets/asset2.svg") no-repeat center;
  width: 615px;
  height: 696px;
  display: block;
  position: absolute;
  top: -144px;
  right: 200px;
  z-index: -1;
}
.ideoCarrosel button {
  background-color: transparent;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  display: block;
  padding: 110px 0;
}
.ideoCarrosel button:hover {
  background: rgba(217, 217, 217, 0.1);
}
.ideoCarrosel button:after {
  content: "";
  background: url("../img/assets/arrow.svg");
  width: 78px;
  height: 75px;
  display: block;
  transition: 0.3s;
}
.ideoCarrosel button:hover:after {
  transform: scale(0.9);
}
.ideoCarrosel button.right:after {
  rotate: 180deg;
}
.ideoCarrosel h3 {
  color: #fafafa;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.ideoCarrosel p {
  color: #fafafa;
  font-size: 0.95rem;
  max-width: 500px;
}
.ideoCarrosel h3:before {
  content: "";
  width: 35px;
  height: 10px;
  display: block;
  background-color: #fafafa;
}
.ideoCarrosel .container {
  min-height: 295px;
}
.ideoCarrosel img {
  display: block;
  width: 272px;
  height: 272px;
  transform: translateY(-100px);
}
.ideoCarrosel .container section.ativo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.ideoCarrosel .container section div {
  animation: toRight 0.8s forwards;
  animation-delay: 0.2s;
}
.ideoCarrosel .container section div {
  opacity: 0;
}
.ideoCarrosel .container section img {
  animation: toUp 0.8s forwards;
}

.ideoCarrosel .container section {
  display: none;
}
.ideoCarrosel section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  color: white;
}
.ideoCarrosel section ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ideoCarrosel section ul li::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: white;
  display: block;
}

/* Competências */
.competencias.sectionAsset:after {
  top: -80px;
  left: 680px;
  transform: rotate(180deg);
}
.competencias {
  margin-top: 220px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  z-index: 999999999;
}
.competencias article div {
  opacity: 0;
}
.competencias article div.ativo {
  animation: toRight 0.5s forwards;
  animation-delay: 0.1s;
}
.competencias figure img {
  display: none;
}
.competencias figure img.ativo {
  animation: toRight 0.5s forwards;
  display: inline-block;
  position: relative;
  z-index: 10000000;
}
.competencias .titulo {
  min-width: 370px;
  background: linear-gradient(270deg, #061df1 20%, #100953 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.compNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
.compNav li {
  padding: 20px 10px 20px 20px;
  border: solid var(--bg-p1) 1px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.compNav li p::before {
  transition: 0.2s;
  content: "";
  width: 35px;
  height: 10px;
  display: block;
  background: #100953;
}
.compNav li::before {
  content: "";
  background: url("../img/assets/locomotiva.png");
  width: 82px;
  height: 82px;
  display: inline-block;
}
.compNav li:nth-child(2):before {
  background: url("../img/assets/infra.png");
}
.compNav li:nth-child(3):before {
  background: url("../img/assets/sanea.png");
}
.compNav li:hover p:before {
  width: 60px;
}
.compNav li:hover {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 4px;
  cursor: pointer;
}
.competencias article h4 {
  font-size: 2.45rem;
}
.competencias article p {
  max-width: 500px;
  font-size: 0.95rem;
}
.competencias article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.competencias article h4 {
  color: #141414;
}
.competencias article h4:before {
  content: "";
  width: 60px;
  height: 10px;
  background-color: #100953;
  display: block;
}

/* Noticias */
.noticias {
  position: relative;
  margin-top: 150px;
}
.noticias.sectionAsset:after {
  top: 0;
  transform: rotate(-90deg);
  right: 0;
}
.noticias div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.noticias div a {
  border: solid transparent 1px;
  padding: 20px;
  border-radius: 4px;
}
.noticias div a:hover {
  border: solid rgba(0, 0, 0, 0.2) 1px;
}
.noticias div h3 {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 1.3rem;
  color: #141414;
}
.noticias div a:hover h3::before {
  width: 20px;
}
.noticias div img {
  transition: 0.2s;
}
.noticias div a:hover img {
  transform: translateY(-5px);
}
.noticias div h3::before {
  content: "";
  transition: 0.2s;
  width: 10px;
  height: 10px;
  background-color: #100953;
  display: block;
}

/* Clientes */
.clientes {
  position: relative;
  margin-top: 150px;
}
.clientes .titulo {
  margin-bottom: 60px;
}
.clientes ul {
  max-width: 1175px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 0 20px;
}
.clientes ul li {
  display: flex;
  padding: 32px;
  border-left: 1px rgba(0, 0, 0, 0.1) solid;
}
.clientes ul li img {
  margin: auto;
}
.clientes li:first-child,
.clientes li:nth-child(5) {
  border: none;
}
.clientes li:nth-child(n + 5) {
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
.clientes a {
  transition: 0.2s;
  padding: 10px 30px;
  font-size: 1.4rem;
  font-weight: bold;
  background: white;
  color: #141414;
  border-radius: 4px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}
.clientes a:hover {
  box-shadow: 0px 0px 6px 2px #061df1;
}
.tes {
  margin-top: 50px;
  text-align: center;
}
.tes a {
  display: inline-block;
}

/* Animações */
@keyframes toUp {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
    opacity: 1;
  }
}

@keyframes toRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
