.obras section {
  margin-top: 100px;
  background: var(--p1);
  box-shadow: inset 0 80px 0 var(--bg-p1);
  padding-bottom: 50px;
}
.obras section .container > div {
  margin-top: 100px;
}
.obras section .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.obras section .container h2 {
  color: var(--font3);
  max-width: 380px;
  font-size: 1.25rem;
}
.obras section .container h2:before {
  content: "";
  width: 20px;
  height: 8px;
  display: block;
  background-color: var(--bg-p1);
  margin-bottom: 4px;
}
.obras section .container h2 {
  color: var(--font3);
  max-width: 380px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.obras section .container h4 {
  font-size: 2rem;
  margin: 10px 0;
  color: #403a75;
  text-transform: uppercase;
}
.obras .btnDefault {
  text-align: left;
  margin: 0;
}
.obras .btnDefault a {
  background: linear-gradient(180deg, #f1f1f1 0%, #f1f1f1 100%);
  color: var(--font1);
  text-align: left;
  padding: 10px 30px;
}
.obras .btnDefault a:hover {
  background: linear-gradient(
    179deg,
    #f1f1f1 0.49%,
    rgba(20, 20, 20, 0.1) 697.41%
  );
}
.obras ~ .footer {
  margin-top: 500px;
}

/* responsive */

@media (max-width: 1150px) {
  .obras section .container {
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    gap: 1rem;
  }
  .obras section .container > div {
    margin: 0;
  }
  .obras section .container h2 {
    font-size: 1rem;
  }
  .obras section .container h4 {
    font-size: 1.25rem;
  }
  .obras section {
    padding-bottom: 30px;
    margin-top: 50px;
  }
}

