.exelencia > div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.exelencia .titulo {
  max-width: 730px;
}
.exelencia > div img {
  border-radius: 5px;
}
.exIntro img {
  width: 100%;
}
.exIntro div {
  position: relative;
}

/* Resposive */

@media (max-width: 850px) {
  .exelencia .pageTitle {
    margin-bottom: 60px;
  }
  .exIntro img {
    width: 305px;
  }
  .exelencia > div {
    justify-content: space-center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

