.exelencia > div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.exelencia .titulo {
  max-width: 730px;
}
.exelencia > div img {
  border-radius: 5px;
}
.exIntro img {
  width: 100%;
}
.exIntro div {
  position: relative;
}
.exIntro div.sectionAsset:after {
  left: 0;
  transform: rotate(90deg);
  bottom: 0;
}

/* Resposive */

@media (max-width: 850px) {
  .exelencia .pageTitle {
    margin-bottom: 60px;
  }
  .exelencia .pageTitle.sectionAsset:after {
    width: 50px;
    height: 50px;
    bottom: -55px;
    left: 0 !important;
    transform: rotate(0);
  }
  .exIntro img {
    width: 305px;
  }
  .exelencia > div {
    justify-content: space-center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  .exelencia {
    /* margin-bottom: 0px; */
  }
  .exIntro div.sectionAsset:after {
    left: 0;
    transform: rotate(90deg);
    bottom: -45px;
  }
}

