.servicos {
  margin-top: 150px;
}
.gridExec {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}
.gridExec section {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--bg-p1);
  padding: 25px 22px;
  border: 1px solid var(--border2);
}
.gridExec section > div {
  padding-left: 10px;
  border-left: 2px var(--p1) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.gridExec section h3 {
  margin-top: 15px;
  font-weight: 400;
  color: var(--font1);
  font-size: 1.5rem;
}
.gridExec section p {
  margin-top: 20px;
  color: var(--font2);
  font-size: 1.125rem;
}
.gridExec section a {
  margin: 70px 0 10px 15px;
  padding: 0 5px;
  color: var(--font2);
  background-color: var(--bg-p1);
  display: block;
}
.gridExec section a span {
  transition: 0.2s ease-in;
  display: inline-block;
  background: var(--bg-p1);
}
.gridExec section a:hover span {
  padding-right: 5px;
  transform: translate3d(8px, 0, 0);
}
.gridExec section::after {
  transition: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 44px);
  height: 2px;
  background-color: var(--p1);
  left: 22px;
  bottom: 43px;
  z-index: -1;
}

/* @media (max-width: 850px) {

} */

@media (max-width: 600px) {
  .gridExec {
    grid-template-columns: 1fr;
  }
}

