.quemSomos .pageTitle {
  flex-wrap: nowrap;
}
.quemSomos .intro {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.quemSomos .intro h2 {
  max-width: 520px;
}
.quemSomos .intro p {
  max-width: 550px;
}

