/* Footer */
.footer {
  position: relative;
  margin-top: 335px;
  background: white;
  border-top: 3px solid;
  border-image: linear-gradient(90deg, var(--p1) 30%, var(--bg-p1) 40%) 1;
}
.footerMapaSite ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.footerMapaSite ul li a:hover {
  color: #141414;
}
.footerMapaSite ul li a {
  color: rgba(20, 20, 20, 0.75);
}
.footer section h3 {
  color: #454545;
  font-size: 2rem;
  position: relative;
}
.footer .logo img {
  width: 100%;
}
.footer section h3:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  display: block;
  left: -5px;
  background: linear-gradient(90deg, var(--p1) 0%, var(--p2) 100%);
}
.footerContato {
  color: var(--font2);
}
.footerContato h3 {
  margin-bottom: 20px;
}
.footerContato p {
  margin-bottom: 10px;
}
.endereco {
  border-top: solid rgba(0, 0, 0, 0.2) 2px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 2px;
  max-width: 250px;
  line-height: 2.5rem;
}
.footer .redes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.direitos {
  background-color: #100953;
}
.direitos p {
  padding: 25px 0;
  color: var(--bg-p1);
}
.footer .footerContent {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 50000;
}
.footer:after {
  content: "";
  background: url("../../img/assets/assetFooter.svg") no-repeat center;
  background-size: cover;
  top: -332px;
  left: 0;
  width: 368px;
  height: 330px;
  z-index: -1;
  display: block;
  position: absolute;
}

/* Responsive */

@media (max-width: 850px) {
  .footer:after {
    top: -225px;
    width: 268px;
    height: 245px;
  }
  .footer .logo {
    display: none;
  }
  .footer {
    border-top: 3px solid var(--p1);
    border-image: none;
  }
  .footer .footerContent {
    gap: 50px;
  }
  .footerContent {
    margin: 0 40px;
  }
  .footerMapaSite ul {
    grid-template-columns: 1fr;
  }
  .footerContent h3 {
    font-size: 1.5rem !important;
  }
  .footerContent ul li a {
    font-size: 1rem !important;
  }
  .direitos p {
    font-size: 0.875rem;
    margin: 0 30px;
  }
}

