* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-p1: #f1f1f1;
  --bg-p2: #fafafa;
  --p1: #100953;
  --p2: #061ef4;
  --p3: #272164;
  --font1: #141414;
  --font2: #454545;
  --font3: #fafafa;
  --border1: rgba(16, 9, 83, 0.05);
  --border2: rgba(0, 0, 0, 0.1);
}
body,
button {
  background: var(--bg-p1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.titulo {
  background: linear-gradient(301deg, #061ef4 0%, #100953 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.25rem;
}
.imgStyle {
  border-radius: 4px;
}
.sectionAsset:after {
  content: "";
  background: url("../../img/assets/asset1.svg") no-repeat center;
  background-size: cover;
  display: block;
  height: 72px;
  width: 56px;
  position: absolute;
}
.pageTitle {
  font-size: 6rem;
  color: var(--p3);
  margin: 45px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subTitulo {
  font-size: 2rem;
  color: var(--p1);
  position: relative;
  display: flex;
}
.subTitulo:before {
  position: absolute;
  font-size: 4rem;
  color: var(--font2);
  opacity: 0.25;
  bottom: 0px;
  left: 15px;
}
.defaultCta {
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  color: var(--font1);
  background-color: var(--p1);
}

@media (max-width: 1150px) {
  .container {
    max-width: 850px;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .pageTitle {
    font-size: 3rem;
    justify-content: space-between;
  }
  .sectionAsset:after {
    height: 46px;
    width: 36px;
  }
  .titulo {
    font-size: 1.75rem;
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  .sectionAsset:after {
    height: 36px;
    width: 35px;
  }
  .pageTitle {
    color: var(--p3);
    margin: 25px 0;
  }
  .subTitulo {
    font-size: 2rem;
  }
  .subTitulo:before {
    font-size: 2.8rem;
  }
}

/* Animações */
@keyframes LeftToRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
