* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-p1: #f1f1f1;
  --bg-p2: #fafafa;
  --p1: #100953;
  --p2: #061ef4;
  --font1: #141414;
  --font2: #454545;
  --font3: #fafafa;
  --border1: rgba(16, 9, 83, 0.05);
}
body,
button {
  background: var(--bg-p1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.titulo {
  /* background: linear-gradient(270deg, #061df1 65%, #100953 100%); */
  background: linear-gradient(301deg, #061ef4 0%, #100953 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.25rem;
}
.imgStyle {
  border-radius: 4px;
}
.sectionAsset:after {
  content: "";
  background: url("../../img/assets/asset1.svg") no-repeat center;
  display: block;
  height: 72px;
  width: 56px;
  position: absolute;
}

.pageTitle {
  font-size: 6rem;
  color: var(--p1);
  margin: 45px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1150px) {
  .container {
    max-width: 850px;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

/* Animações */
@keyframes LeftToRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes teste {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-30px);
    opacity: 0;
  }
}
