* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-p1: #f1f1f1;
  --bg-p2: #fafafa;
  --p1: #100953;
  --p2: #061ef4;
  --p3: #272164;
  --font1: #141414;
  --font2: #454545;
  --font3: #fafafa;
  --border1: rgba(16, 9, 83, 0.05);
  --border2: rgba(0, 0, 0, 0.1);
}
body,
button {
  background: var(--bg-p1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".png"] {
  border-radius: 4px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}
.titulo {
  background: linear-gradient(301deg, #061ef4 0%, #100953 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.25rem;
}
.pageTitle {
  font-size: 6rem;
  color: var(--p3);
  margin: 40px 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subTitulo {
  font-size: 2rem;
  color: var(--p1);
  position: relative;
  display: flex;
}
.subTitulo:before {
  position: absolute;
  font-size: 4rem;
  color: var(--font2);
  opacity: 0.25;
  bottom: 0px;
  left: 15px;
}
.btnDefault a {
  transition: 0.2s;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(180deg, var(--p1) -50%, var(--p1) 100%);
  color: var(--bg-p2);
  border-radius: 4px;
  display: inline-block;
}
.btnDefault a:hover {
  background: linear-gradient(180deg, var(--p1) 0%, var(--p2) 829.17%);
}
.btnDefault.seta a:after {
  content: "➜";
  display: inline-block;
  transition: 0.3s;
  margin-left: 5px;
}
.btnDefault.seta a:hover:after {
  transform: translateX(5px);
}
.btnDefault {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1150px) {
  .container {
    max-width: 850px;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .pageTitle {
    font-size: 3rem;
    justify-content: space-between;
  }
  .titulo {
    font-size: 1.75rem;
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  .pageTitle {
    color: var(--p3);
    margin: 25px 0;
  }
  .subTitulo {
    font-size: 2rem;
  }
  .subTitulo:before {
    font-size: 2.8rem;
  }
}

/* Animações */
@keyframes LeftToRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
