.linkBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: 0.875rem;
}
.linkBar a {
  color: var(--font2);
}
.linkBar a:hover,
.navegacao ul li a:hover,
.dropdown-toggle:hover {
  color: var(--p1);
}
.linkBar .contactBar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.fontAcessible {
  display: flex;
  gap: 10px;
}
.fontAcessible button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: var(--font2);
}
.fontAcessible button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  color: var(--font1);
}
.linkBarUtilities {
  display: flex;
  align-items: center;
  gap: 30px;
}
.linkBarUtilities .redes {
  display: flex;
  gap: 10px;
}
.header {
  background: var(--bg-p2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerContent img {
  width: 150px;
}
.navegacao > ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}
.navegacao ul button,
.navegacao ul li a {
  padding: 2.5rem 8px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--font2);
  position: relative;
}
.navegacao ul button:after,
.navegacao ul li a:after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  background: linear-gradient(90deg, #100953 0%, #061ef4 100%);
  position: absolute;
  left: 3px;
  transition: 0.3s;
}
.navegacao ul button:hover:after,
.navegacao ul li a:hover:after {
  width: 30%;
}
.navegacao ul .drop {
  position: relative;
}
.mobileMenuButton {
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
}
.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-toggle:hover {
  color: var(--p1);
}
.dropdown-menu {
  min-width: 210px;
  display: none;
  position: absolute;
  background: var(--bg-p2);
  border-top: 3px solid;
  border-image: linear-gradient(90deg, var(--p1) 25%, var(--p2)) 1;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.dropdown-menu li a {
  display: block;
  padding: 20px !important;
}
.dropdown-menu li a:after {
  display: none !important;
}
.dropdown-menu li a:hover {
  color: var(--p1);
  background: var(--border1);
}
.dropdown-menu li + li {
  border-top: 1px var(--border1) solid;
}
.drop:hover .dropdown-menu {
  display: block;
  animation: LeftToRight 0.3s;
  z-index: 100000;
}

/* Responsive */
@media (max-width: 600px) {
  .headerContent {
    margin: 0 20px;
  }
}
@media (max-width: 850px) {
  .headerContent img {
    width: 100px;
  }
  .headerContent {
    justify-content: space-between;
    padding: 10px 0;
    gap: 50px;
  }
  .navegacao ul li a:after {
    display: none;
  }
  .navegacao > ul {
    gap: 10px;
  }
  .drop button {
    display: flex !important;
    align-items: center;
  }
  .drop button:after {
    width: 0 !important;
    position: inherit !important;
    display: inline-block;
    margin-left: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .navegacao {
    display: none;
  }
  .navegacao.ativo {
    display: block;
    position: absolute;
    background: var(--p1);
    top: 65px;
    left: 0;
    z-index: 1000000000;
  }
  .drop:hover .dropdown-menu {
    display: none;
  }
  .dropdown-toggle.ativo ~ .dropdown-menu {
    display: block;
    margin: 10px auto;
    width: calc(100vw - 40px);
    position: inherit;
    background: var(--bg-p2);
    border-top: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  .dropdown-menu li a {
    color: #141414 !important;
  }
  .navegacao ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0;
    font-size: 1rem;
    width: 100vw;
  }
  .navegacao.ativo {
    animation: LeftToRight 0.3s forwards;
  }
  .navegacao ul li,
  .navegacao.ativo ul li button {
    width: 100%;
  }
  .navegacao.ativo ul li a,
  .navegacao.ativo ul li button {
    padding: 10px 0px 10px 8px;
    text-align: left;
    color: var(--bg-p2);
    display: block;
    font-size: 1rem;
  }
  .navegacao.ativo ul li a:hover,
  .navegacao.ativo ul li button:hover {
    color: var(--p1);
    background-color: var(--bg-p2);
  }
  .mobileMenuButton {
    display: block;
    padding: 20px 10px;
    border-radius: 6px;
    border: 1px solid transparent;
  }
  .mobileMenuButton:active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
  }
  .mobileMenuButton.ativo > div::after {
    width: 30px;
    transition: 0.2s;
  }
  .linkBar {
    display: none;
  }
  .mobileMenu {
    border: none;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--p1);
    box-shadow: 0px -10px 0px 0px var(--p1);
  }
  .mobileMenu::after {
    content: "";
    border: none;
    display: block;
    width: 23px;
    height: 3px;
    box-shadow: 0px 10px 0px 0px var(--p1);
  }
}

